<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Handwriting Generator - Convert your text to handwritten style with various fonts, styles, and features.">
    <meta name="keywords" content="Handwriting Generator, Convert Text to Handwriting, Custom Handwriting, Image to Text, PDF Generator">
    <meta name="author" content="Your Name or Company">
    <meta property="og:title" content="Handwriting Generator">
    <meta property="og:description" content="Generate beautiful handwriting from your text using various customizable styles and fonts.">
    <meta property="og:image" content="path_to_your_image.jpg">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://yourwebsite.com">
    <title>Handwriting Generator</title>
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Quicksand:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles.css' %}">

    <!-- Basic -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Site Metas -->
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Inance</title>

    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
    <!-- font awesome style -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}"/>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
    <!-- responsive style -->
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet"/>

</head>
<body>
  {% include '_partials/header.html' %}
  {% block context %} {% endblock %}
  {% include '_partials/footer.html' %}


<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
</script>
<script src="{% static 'js/custom.js' %}"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
<!-- End Google Map -->
</body>
</html>
